
<div class="hero">
    <div class="hero-text">
      <div class="about">
        <div class="ps">Polynomial Solver</div>
        <div class="welcome">Welcomes You,</div>
        <div class="who">
          Explore polynomial solutions like never before. Our platform offers fast
          and accurate calculations, simplifying your mathematical journey.
        </div>
      </div>
  
      <div class="hero-buttons">
        <a (click)="goToInputPage()" class="btn-primary">Get Started</a>
        <a (click)="goToInfoPage()" class="btn-secondary">Learn More</a>
      </div>
    </div>
  </div>
  