<div class="container">
  <nav class="navbar">
    <!-- Logo on the left -->
    <div class="logo">
      <h2>PS</h2>
    </div>

    <!-- Navigation links -->
    <div class="nav-div">
      <ul class="nav-links">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/input-page" routerLinkActive="active">Solver</a></li>
        <li><a routerLink="/info" routerLinkActive="active">Learn More</a></li>
      </ul>
    </div>

    <!-- Contact link on the far right -->
    <div class="contact-link">
      <a routerLink="/input-page" routerLinkActive="active">Contact</a>
    </div>
  </nav>
