body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: url('/assets/bg-lch.png') no-repeat center center fixed; /* Fixed background */
  background-size: cover; /* Ensure it covers the entire viewport */
  height: 100vh;
  overflow: hidden; /* Prevent body scrolling */
}

#content-container {
  height: 100vh; /* Match the viewport height */
  overflow-y: auto; /* Allow vertical scrolling for the content */
  scroll-behavior: smooth; /* Smooth scrolling */
}
